<div class="myrestt view">
    <div class="container">
        <ul class="unstyled">
            <li ng-repeat="msg in mydataarr">
                from: {{msg.id}} to: {{msg.email}} message: {{msg.profileId}}
            </li>
        </ul>
        <ul>
            <p>This is test is {{mydata.id}} email: {{mydata.email}} profileId: {{mydata.profileId}}</p>
        </ul>
        <form ng-submit="refresh()">

            <input class="btn-primary" type="submit" value="send">
        </form>
    </div>
</div>
