<div class="profile view">
    <div class="container">

        <ul>
            <li>
                Name: {{profileVM.name}}
            </li>
            <li>
                info: {{profileVM.info}}
            </li>
            <li>
                age: {{profileVM.age}}
            </li>
            <li>
                relationshipStatus: {{profileVM.relationshipStatus}}
            </li>
        </ul>
        <form ng-submit="loadFriends()">

            <input class="btn-primary" type="submit" value="loadFriends">
        </form>
    </div>
    <div>
        <ul class="unstyled">
            This is firend page
            <li ng-repeat="post in postFeed">
                subject: {{post.subject}} </br>authorName: {{post.authorName}} recipientName: {{post.recipientName}} time: {{post.timestamp}} </br>
                messageBody: {{post.messageBody}}
            </li>
        </ul>
    </div>
</div>
